@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
    gap: 40px;
    position: relative;
    width: 350px;
    height: 180px;
    background: #FBF4F4;
    border-radius: 20px;
    
}
.form-control{

    color: #b4b6c1;
}
.card {
    border: none;
    border-radius: 10px;
}

.heading {
    width: 201px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #595959;
}

.container img{
    display: flex;
    flex-direction: row;
    align-items: self-end;
    width: 280px;
    height: 120px;
  }

button{
    padding-left: 2rem; 
    padding-right: 2rem; 
    margin: 5px;
}

input::placeholder {
    color: #b4b6c1;
  }

@media (max-width: 768px) {

    .badge span {
        width: 30vw;
        height: 10vw;
        font-size: 5vw;
    }

    .progress {
        height: 0.5vw;
    }

    .text1 {
        font-size: 4vw;
    }

    .text2 {
        font-size: 3vw;
    }

    .heading {
        font-size: 4vw;
    }
}