<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col-md-10 ml-auto px-5 py-4 mt-2 ">
      <button 
      routerLink="/sidebar/navbar/modelsheet"
      type="button" 
      class="btn btn-primary float-right px-5">
        New Model
      </button>
      <h3 class="heading mb-3">Models</h3>
    </div>
    <div class=" col-md-9 ml-auto mt-3">
      <div class="card p-3 mb-2">
        <div class="mt-2">
          <div class="mt-3">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Model ID</th>
                  <th scope="col">Model Name</th>
                  <th scope="col">Sponsor</th>
                  <th scope="col">Collection</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let modelo of modelos">
                  <th scope="row"></th>
                  <td>{{ modelo.id }}</td>
                  <td>{{ modelo.nomemodelo }}</td>
                  <td>{{ modelo.responsavel }}</td>
                  <td>{{ modelo.colecao }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
