<div class="container mb-2 mt-3">
  <div class="col-md-10 ml-auto px-3 py-3">
    <h5 class="mb-2 mt-5">Creat Collection</h5>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <br/>
    <div class="col-md-9 mt-2 ml-auto">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between"></div>
        <div class="mt-2">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col">
                <input formControlName="colecao" type="text" class="form-control mb-3 mt-3" placeholder="Collection name">
              </div>
              <div class="col">
                <input formControlName="responsavel" type="text" class="form-control mb-3 mt-3" placeholder="Sponsor">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input formControlName="estacaoLancamento"type="text" class="form-control mb-3" placeholder="Which season?">
              </div>
              <div class="col">
                <input formControlName="marca"type="text" class="form-control mb-3" placeholder="What Brand?">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input formControlName="orcamento" type="text" class="form-control mb-3" placeholder="What is the budget of the collection?">
              </div>
              <div class="col-md-3">
                <input formControlName="modelo" type="text" class="form-control mb-3" placeholder="nº models">
              </div>
              <div class="col-md-3">
                <input formControlName="anoLancamento" type="text"class="form-control mb-3"placeholder="Release year">
              </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
              <img src="assets/modelist.svg" alt="Modelist">
            </div>
            <div class="text-center text-lg-start mt-3">
              <button type="submit"class="btn btn-primary float-right"[disabled]="!form.valid">Save</button>
              <button routerLink="/sidebar/navbar/colectionlist" type="button" class="btn btn-secondary float-right">Delet</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
