@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  margin: 0;
  padding: 0;
  border: 0;
}

.mynavbar {
  z-index: 100;
  background: #FFFFFF;
  color: #A4A4A4;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 1px 5px rgba(183, 183, 183, 0.4);
  position: fixed;
  top: 0;
  width: 100vw;
}

.avatar {
  border-radius: 6px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  justify-content: center;
  box-shadow: 0px 1px 5px rgba(183, 183, 183, 0.4);
  object-fit: cover;
}

.navbar-dropdown {
  display: flex;
}

.dropdown-item {
  color: #b4b6c1;
}

.dropdown-menu {
  background: #FFFFFF;
  position: absolute;
  border: 1px solid #E6E7EB;
  box-shadow: 8px 16px 40px -15px rgba(38, 50, 56, 0.25);
  border-radius: 8px;
  margin-top: 5px;
  padding: 10px;
}

.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
}

@media (max-width: 768px) {
  body {
      width: 100%;
      height: auto;
      font-size: 14px;
      line-height: 16px;
  }
  p {
      width: 100%;
      height: auto;
      font-size: 12px;
      line-height: 14px;
  }
  #sidebar {
      position: static;
      width: 100%;
      max-width: none;
      margin-bottom: 20px;
      box-shadow: none;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebar ul.components {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
  }
  #sidebar ul li a {
      font-size: 0.9em;
      padding: 5px;
      flex-direction: row-reverse;
  }
  ul ul a {
      padding-left: 15px !important;
      background: #EBF0FA;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  body {
      font-size: 14px;
      line-height: 16px;
  }
  p {
      font-size: 12px;
      line-height: 14px;
  }
  #sidebar {
      max-width: 200px;
  }
}
@media (min-width: 1025px) {
  body {
      width: 1200px;
      height: 800px;
      font-size: 18px;
      line-height: 22px;
  }
  p {
      width: 800px;
      height: 600px;
      font-size: 16px;
      line-height: 20px;
  }
  #sidebar {
      max-width: 250px;
  }
}