html,
body {
  height: 100%;
  font-size: 14px;
  color: #B4B6C1;
  background-color: #FBF4F4;
}

.my-login-page {
  position: absolute;
  width: 350px;
  height: 407px;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);

}

.my-login-page h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.my-login-page h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #b4b6c1
}

.my-login-page .mt-4 {
  height: 19px;
  width: 287px;
  border-radius: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  color: #b4b6c1
}

.my-login-page .text-center {
  text-align: center;
}

.my-login-page .all {
  color: inherit;
}

.my-login-page a {
  text-decoration: none;
  color: #0073cf;
}

.my-login-page input {
  color: inherit;

}

.my-login-page .brand {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
  position: relative;
  z-index: 1;
}

.my-login-page .brand img {
  width: 100%;
}

.my-login-page .card-wrapper {
  width: 400px;
  margin: 0 auto;
}

.my-login-page .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.my-login-page .card.fat {
  padding: 15px;
}

.my-login-page .card .card-title {
  margin-bottom: 30px;
}

.my-login-page .form-control {
  border-width: 2.3px;
}

.my-login-page .form-group label {
  width: 100%;
}

.my-login-page .btn.btn-block {
  padding: 12px 10px;
}

.my-login-page .footer {
  margin: 40px 0;
  color: #888;
  text-align: center;
}

input::placeholder {
  color: #b4b6c1;
}

@media screen and (max-width: 425px) {
  .my-login-page {
    width: 90%;
    height: auto;
  }

  .my-login-page .card-wrapper {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .my-login-page .card.fat {
    padding: 0;
  }

  .my-login-page .card.fat .card-body {
    padding: 15px;
  }
}