<!-- <app-userregister></app-userregister> -->
<!-- <app-userpassword></app-userpassword> -->
<!-- <app-userconfirmationpassword></app-userconfirmationpassword> -->
<!-- <app-userlogin></app-userlogin> -->

<!-- <app-dashboard></app-dashboard> -->

<!-- <app-modellist></app-modellist> -->
<!-- <app-modelsheet></app-modelsheet> -->
<!-- <app-modeledit></app-modeledit> -->


<!-- <app-colectionlist></app-colectionlist> -->
<!-- <app-colectionsheet></app-colectionsheet> -->
<!-- <app-colectionedit></app-colectionedit> -->

<!-- <app-navbar></app-navbar>
<app-sidebar></app-sidebar> -->




<router-outlet></router-outlet>
