<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <div class="brand">
        <div class="mt-3 d-flex justify-content-center">
        <img src="assets/logoaudacesfull.svg" alt="modellist" />
      </div>
      </div>
    </div>

    <ul class="px-2 mt-5 list-unstyled components">
      <p>MENU</p>
      <div class="px-3 mt-3 justify-content-left">
        <li class="#">
          <a (click)="navigateToDashboard()">Dashboar</a>
        </li>
        <li>
          <a (click)="navigateToCollection()">Collections</a>
        </li>
        <li>
          <a (click)="navigateToModels()">Models</a>
        </li>
        <li>
          <a>Help</a>
        </li>
        <li>
          <a >Comments</a>
        </li>
      </div>
    </ul>
  </nav>
</div>